.cardWrapper {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 6rem;
}

.message {
  font-weight: bold;
  font-size: 18px;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
